= @error
%form{ :action => "create", :method => "post", :class => "url_form"}
  %p
    %label{ :for => "url" } URL goes here
    %br/
    %input{ :type => "text", :name => "url", :id => "url"}
    %input{ :type => "submit", :name => "submit", :value => "URLize", :class => "button" }
    
%small
  We haz 
  %a{:href => "/urls"}== #{DB[:urls].count} urls
  
  %br/
  Drag 
  -#%a{:href => "javascript:void(location.host=='maps.google.com'?location.href='http://#{request.env['HTTP_HOST']}/c/'+encodeURIComponent(document.getElementById('link').href):location.href='http://#{request.env['HTTP_HOST']}/c/'+encodeURIComponent(location.href))"}
  %a{:href => "javascript:void(location.host=='maps.google.com'?location.href='http://#{request.env['HTTP_HOST']}/c/'+document.getElementById('link').href:location.href='http://#{request.env['HTTP_HOST']}/c/'+location.href)"}
    this link
  to your bookmarks bar to save the link